<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Mi carrito
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only on-click="goToMiCarrito()">
        <ion-icon name="cart"></ion-icon>
        {{carritoSvc.items}} items | {{carritoSvc.total}} Gs.
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="contact"></ion-icon>
        {{usuario}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding id="page2">
  <div *ngIf="carritoSvc.hayProductos; else noHayProductos">
    <ion-card id="miCarrito-card22">
      <ion-list>
        <ion-item *ngFor="let producto of carritoSvc.productos" color="none" id="miCarrito-list-item18">
          <ion-thumbnail item-left>
            <img src={{producto.foto}} />
          </ion-thumbnail>
          <h1> {{producto.nombre}}</h1>
          <h2><strong> Cantidad:  </strong> {{producto.cantidad}}</h2>
          <h2><strong> Precio:  </strong> {{producto.precio}} Gs. c/u</h2>
        </ion-item>

      </ion-list>
    </ion-card>

    <div id="miCarrito-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:24px;">
        <strong>
          Total:
        </strong>
        {{carritoSvc.total}} Gs.
      </p>
    </div>
    <button (click)="guardarCompra()" id="miCarrito-button22" ion-button color="balanced" block style="font-weight:500;">
      Comprar
    </button>
  </div>

  <ng-template #noHayProductos>No hay productos en su carrito</ng-template>


</ion-content>
