page-productos {

}

div.producto{
  display:inline-block;
  width:auto;
  height:auto;
  max-width:430px;
  margin-left:auto;
  margin-right:auto;
}

button.producto-boton{
  width:100%;
  font-weight:500;
  border-radius:5px 5px 5px 5px;
}

img.producto-foto{
  display:block;
  width:100%;
  height:100%;
  margin-left:auto;
  margin-right:auto;
}

