<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="display: inline">
      Productos
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only on-click="goToMiCarrito()">
        <ion-icon name="cart"></ion-icon>
        {{carritoSvc.items}} items | {{carritoSvc.total}} Gs.
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="contact"></ion-icon>
        {{usuario}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding id="page1" style="align-items: center">
  <div *ngFor="let producto of productos" id="productos-container1" class="producto">
    <ion-card>
      <div id="productos-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
        <img src={{producto.foto}} class="producto-foto" />
        <h1 > {{producto.nombre}} </h1>
        <h2 > {{producto.precio}} Gs.</h2>

        <button id="productos-button4" ion-button color="dark" class="producto-boton">
          Ver Detalles
        </button>
        <button id="productos-button5" ion-button color="agregar" class="producto-boton" (click)="agregarAMiCarrito(producto)">
          Agregar al Carrito
        </button>
      </div>
    </ion-card>
    <div class="spacer" style="height:10px;" id="productos-spacer2"></div>
  </div>
</ion-content>
