<ion-menu [content]="mainContent">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Menu
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="side-menu21">
    <ion-list id="menu-list1">
      <ion-item-divider color="light" id="menu-list-item-divider2">
        Market
      </ion-item-divider>
      <ion-item color="none" menuClose="" on-click="goToProductos()" id="menu-list-item1">
        Productos
        <ion-icon name="pricetags" item-right></ion-icon>
      </ion-item>
      <ion-item color="none" menuClose="" on-click="goToMiCarrito()" id="menu-list-item2">
        Mi Carrito
        <ion-icon name="cart" item-right></ion-icon>
      </ion-item>
      <ion-item-divider color="light" id="menu-list-item-divider1">
        Perfil
      </ion-item-divider>
      <ion-item color="none" menuClose="" on-click="goToMiPerfil()" id="menu-list-item3">
        Mi Perfil
        <ion-icon name="contacts" item-right></ion-icon>
      </ion-item>
      <ion-item color="none" id="menu-list-item15" on-click="goToLogin()">
        Salir
        <ion-icon name="exit" item-right></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mainContent [root]="rootPage"></ion-nav>
