<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Mi Perfil
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only on-click="goToMiCarrito()">
        <ion-icon name="cart"></ion-icon>
        {{carritoSvc.items}} items | {{carritoSvc.total}} Gs.
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="contact"></ion-icon>
        {{usuario}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding id="page3">
  <form #formulario="ngForm" id="miPerfil-form3" (submit)="guardarPerfil(formulario)">
    <ion-item id="miPerfil-input6">
      <ion-label>
        Teléfono
      </ion-label>
      <ion-input type="tel" placeholder="0991523881"></ion-input>
    </ion-item>
    <ion-item id="miPerfil-input5">
      <ion-label>
        Fecha de Nacimiento
      </ion-label>
      <ion-input type="date" placeholder="12/10/1994"></ion-input>
    </ion-item>
    <ion-item id="miPerfil-input7">
      <ion-label>
        Sexo
      </ion-label>
      <ion-input type="text" placeholder="Masculino"></ion-input>
    </ion-item>
    <ion-item id="miPerfil-input8">
      <ion-label>
        Dirección
      </ion-label>
      <ion-input type="text" placeholder="Celsa Speratti 622 c/ San Martín"></ion-input>
    </ion-item>
    <button type=submit id="miCarrito-button22" ion-button color="balanced" block style="font-weight:500;">
      Guardar
    </button>
  </form>
</ion-content>

